.has-clouds {
  position: relative;
}

.clouds {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  display: block;
  width: 100%;
  height: 337px;
  background-image: url("../img/clouds.png");
}

.no-touch.cssanimations .clouds {
  -webkit-animation: clouds 15s infinite linear;
  -moz-animation: clouds 15s infinite linear;
  -ms-animation: clouds 15s infinite linear;
  -o-animation: clouds 15s infinite linear;
  animation: clouds 15s infinite linear;
}

/* clouds */
@-webkit-keyframes clouds {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -1000px 0;
  }
}
@-moz-keyframes clouds {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -1000px 0;
  }
}
@-ms-keyframes clouds {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -1000px 0;
  }
}
@-o-keyframes clouds {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -1000px 0;
  }
}
@keyframes clouds {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -1000px 0;
  }
}