@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600&display=swap");
@font-face {
  font-family: "LemonMilk";
  src: url("../fonts/LemonMilk.woff");
  /* IE9*/
}
@font-face {
  font-family: "LemonMilkBold";
  src: url("../fonts/LemonMilkbolditalic.woff");
  /* IE9*/
}