/*@font-face { font-family: "Avenir"; src: url("../fonts/Avenir.ttc");*/
  /* IE9*/
  /*!* iOS 4.1- *! }*/
/*@font-face {*/
/*  font-family: "LemonMilk";*/
/*  src: url("../fonts/LemonMilk.woff");*/
/*  !* IE9*!*/
/*}*/
/*@font-face {*/
/*  font-family: "LemonMilkBold";*/
/*  src: url("../fonts/LemonMilkbolditalic.woff");*/
/*  !* IE9*!*/
/*}*/
.has-clouds { position: relative; transition: all 0.6s ease; -webkit-transition: all 0.6s ease; -moz-transition: all 0.6s ease; -o-transition: all 0.6s ease; -ms-transition: all 0.6s ease; }
/*.has-clouds * { z-index: 10; }*/
.has-clouds .clouds {
  position: absolute;
  width: 100%; height: 100%; top: 0;
  /*z-index: 9; */
}

/* KEYFRAMES */
@-webkit-keyframes animateCloud { 100% { margin-left: -1000px; }
  0% { margin-left: 100%; } }
@-moz-keyframes animateCloud { 100% { margin-left: -1000px; }
  0% { margin-left: 100%; } }
@keyframes animateCloud { 100% { margin-left: -1000px; }
  0% { margin-left: 100%; } }
/* ANIMATIONS */
.allow-clouds { /* OBJECTS */ }
.allow-clouds .x1 { -webkit-animation: animateCloud 35s linear infinite; -moz-animation: animateCloud 35s linear infinite; animation: animateCloud 35s linear infinite; -webkit-transform: scale(1); -moz-transform: scale(1); transform: scale(1); }
.allow-clouds .x2 { -webkit-animation: animateCloud 20s linear infinite; -moz-animation: animateCloud 20s linear infinite; animation: animateCloud 20s linear infinite; -webkit-transform: scale(1.2); -moz-transform: scale(1.2); transform: scale(1.2); }
.allow-clouds .x3 { -webkit-animation: animateCloud 30s linear infinite; -moz-animation: animateCloud 30s linear infinite; animation: animateCloud 30s linear infinite; -webkit-transform: scale(1.5); -moz-transform: scale(1.5); transform: scale(1.5); }
.allow-clouds .x4 { -webkit-animation: animateCloud 18s linear infinite; -moz-animation: animateCloud 18s linear infinite; animation: animateCloud 18s linear infinite; -webkit-transform: scale(1.8); -moz-transform: scale(1.8); transform: scale(1.8); }
.allow-clouds .x5 { -webkit-animation: animateCloud 15s linear infinite; -moz-animation: animateCloud 15s linear infinite; animation: animateCloud 15s linear infinite; -webkit-transform: scale(2); -moz-transform: scale(2); transform: scale(2); }
.allow-clouds .cloud { background-image: url(../img/clouds.png); background-size: contain; background-repeat: no-repeat; height: 250px; position: relative; width: 350px; }
