

/* ANIMATIONS */

.x1 {
	-webkit-animation: animateCloud 35s linear infinite;
	-moz-animation: animateCloud 35s linear infinite;
	animation: animateCloud 35s linear infinite;
	
	-webkit-transform: scale(0.65);
	-moz-transform: scale(0.65);
	transform: scale(0.65);
}
.x2 {
	-webkit-animation: animateCloud 20s linear infinite;
	-moz-animation: animateCloud 20s linear infinite;
	animation: animateCloud 20s linear infinite;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x3 {
	-webkit-animation: animateCloud 30s linear infinite;
	-moz-animation: animateCloud 30s linear infinite;
	animation: animateCloud 30s linear infinite;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x4 {
	-webkit-animation: animateCloud 18s linear infinite;
	-moz-animation: animateCloud 18s linear infinite;
	animation: animateCloud 18s linear infinite;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x5 {
	-webkit-animation: animateCloud 25s linear infinite;
	-moz-animation: animateCloud 25s linear infinite;
	animation: animateCloud 25s linear infinite;
	
	-webkit-transform: scale(0.55);
	-moz-transform: scale(0.55);
	transform: scale(0.55);
}

/* OBJECTS */
.has-clouds{
    position: relative;
}
.clouds {
    position: absolute;
    top: 0;
}
.cloud {
	height: 120px;
	position: relative;
	width: 100%;
}

.cloud:after, .cloud:before {
	content: '';
	position: absolute;
	z-indeX: -1;
}

.cloud:after {
    background-image: url(../img/clouds.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 350px;
	left: 50px;
	top: -50px;
}

.cloud:before {
	width: 180px;
	height: 180px;
	right: 50px;
	top: -90px;
}

/* KEYFRAMES */

@-webkit-keyframes animateCloud {
    0% {
        margin-right: -1000px;
    }
    100% {
        margin-right: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-right: -1000px;
    }
    100% {
        margin-right: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-right: -1000px;
    }
    100% {
        margin-right: 100%;
    }
}