//@font-face {
// font-family: "Avenir";
//  src: url("../fonts/Avenir.ttc"); /* IE9*/; /* iOS 4.1- */
//}
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600&display=swap');
@font-face {
 font-family: "LemonMilk";
  src: url("../fonts/LemonMilk.otf"); /* IE9*/
}
$main-font : 'Nunito', sans-serif;
$second-font : 'LemonMilk', sans-serif;
