@import "_imports.scss";
.has-clouds{
    position: relative;
    @include transition(all 0.6s ease);
    *{
        z-index: 10;
    }
    .clouds {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: 9;
    }
}


/* KEYFRAMES */

@-webkit-keyframes animateCloud {
    100%{
        margin-left: -1000px;
    }
    0% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    100%{
        margin-left: -1000px;
    }
    0% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    100%{
        margin-left: -1000px;
    }
    0% {
        margin-left: 100%;
    }
}

/* ANIMATIONS */
.allow-clouds{
    .x1 {
        -webkit-animation: animateCloud 35s linear infinite;
        -moz-animation: animateCloud 35s linear infinite;
        animation: animateCloud 35s linear infinite;

        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }

    .x2 {
        -webkit-animation: animateCloud 20s linear infinite;
        -moz-animation: animateCloud 20s linear infinite;
        animation: animateCloud 20s linear infinite;

        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    .x3 {
        -webkit-animation: animateCloud 30s linear infinite;
        -moz-animation: animateCloud 30s linear infinite;
        animation: animateCloud 30s linear infinite;

        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        transform: scale(1.5);
    }

    .x4 {
        -webkit-animation: animateCloud 18s linear infinite;
        -moz-animation: animateCloud 18s linear infinite;
        animation: animateCloud 18s linear infinite;

        -webkit-transform: scale(1.8);
        -moz-transform: scale(1.8);
        transform: scale(1.8);
    }

    .x5 {
        -webkit-animation: animateCloud 15s linear infinite;
        -moz-animation: animateCloud 15s linear infinite;
        animation: animateCloud 15s linear infinite;

        -webkit-transform: scale(2);
        -moz-transform: scale(2);
        transform: scale(2);
    }

    /* OBJECTS */

    .cloud {
        background-image: url(../img/clouds.png);
        background-size: contain;
        background-repeat: no-repeat;

        height: 250px;
        position: relative;
        width: 350px;

    }
}
// .cloud:after, .cloud:before {
//     background-image: url(../img/clouds.png);
//     background-size: contain;
//     background-repeat: no-repeat;
// 	content: '';
// 	position: absolute;
// 	z-indeX: -1;
// }

// .cloud:after {
// 	height: 100px;
// 	left: 50px;
// 	top: -50px;
// 	width: 100px;
// }

// .cloud:before {
// 	width: 180px;
// 	height: 180px;
// 	right: 50px;
// 	top: -90px;
// }
